    @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
    }
    
     :root {
        --AlmostWhite: hsl(0, 0%, 98%);
        --MediumGray: hsl(0, 0%, 41%);
        --AlmostBlack: hsl(0, 0%, 8%);
    }
    
    body {
        font-family: 'Epilogue', sans-serif;
        background: var(--MediumGray);
    }
    
    p {
        font-size: 18px;
    }
    
    a {
        color: var(--MediumGray);
        font-size: 16px;
    }
    
    main {
        width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
        background-color: var(--AlmostWhite);
    }
    
    .btn {
        padding: 12px 25px;
    }
    
    .btn__register {
        border-radius: 15px;
        border: 2px solid var(--MediumGray);
    }
    
    .btn__register:hover {
        color: var(--AlmostBlack);
        border-color: var(--AlmostBlack);
    }
    
    .btn__login:hover {
        color: var(--AlmostBlack);
    }
    
    .open__menu {
        display: none;
    }
    
    .close__menu {
        display: none;
    }
    
    img {
        display: block;
    }
    /* ? ==================NAVEGACION=============== */
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }
    
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    .menu .menu__item {
        position: relative;
    }
    
    .menu .menu__item .menu__link {
        padding: 10px 20px;
        transition: all 1s ease-in-out;
    }
    /* .containst__submenu:hover .submenu {
        visibility: visible;
        opacity: 1;
    } */
    
    .submenu {
        width: 200px;
        position: absolute;
        top: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        background: white;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    }
    
    .submenu .menu__item img {
        display: inline-block;
    }
    
    .submenu .menu__item {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    
    .activeSubmenu {
        visibility: visible;
        opacity: 1;
    }
    
    .active {
        color: var(--AlmostBlack);
    }
    /* ?CREACION DE LA SECCION DE HERO */
    
    .hero {
        padding-top: 5rem;
        display: flex;
        gap: 1rem;
        width: 950px;
        height: auto;
        margin: 0 auto;
    }
    
    .hero__content {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: flex-end;
    }
    
    .hero__content .hero__content__text h1 {
        font-size: 70px;
        font-weight: 700;
        margin-bottom: 3rem;
    }
    
    .hero__content .hero__content__text p {
        font-weight: 500;
        color: var(--MediumGray);
        margin-bottom: 3rem;
        width: 90%;
    }
    
    .hero__content .hero__content__images {
        display: flex;
        gap: 1rem;
        margin-top: 5rem;
    }
    
    .hero__content .hero__content__images {
        height: 30px;
    }
    
    .hero__image {
        flex-basis: 50%;
    }
    
    .hero__image img {
        width: 100%;
    }
    
    .btn__more {
        margin-top: 10px;
        color: var(--AlmostWhite);
        background: var(--AlmostBlack);
        border-radius: 10px;
    }
    
    .btn__more:hover {
        border-radius: 15px;
        background: transparent;
        color: var(--AlmostBlack);
        border: 2px solid var(--AlmostBlack);
    }
    /* TODO: RESPONSIVO  */
    
    @media screen and (max-width:376px) {
        main {
            height: auto;
        }
        header {
            padding: 20px 10px;
            position: relative;
        }
        .navbar {
            transform: translate(100%);
            transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
        .open__menu {
            display: block;
        }
        .header__buttons {
            display: none;
        }
        .navbar {
            width: 100vw;
            min-height: 100vh;
            position: absolute;
            left: 0;
            top: 0;
            background: hsl(0, 0%, 8%, 0.5);
        }
        .menu {
            position: absolute;
            width: 60%;
            background: white;
            height: 100vh;
            right: 0;
            top: 0;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
        }
        #features {
            margin-top: 40%;
        }
        .submenu {
            width: auto;
            height: auto;
            top: 15px;
            position: relative;
            opacity: 1;
            display: none;
            margin-bottom: 1.5rem;
            margin-left: 1rem;
            transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        }
        .activeSubmenu {
            display: block;
        }
        .close__menu {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
        .activeMenu {
            transform: translate(0%)
        }
        .hero {
            width: 100vw;
            flex-direction: column-reverse;
            gap: 2rem;
        }
        .hero .hero__content {
            flex-basis: 100%;
        }
        .hero .hero__image {
            flex-basis: 100%;
        }
        /* .hero .hero__image img {
            height: 100%;
        } */
        .hero .hero__content .hero__content__text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .hero .hero__content .hero__content__text h1 {
            font-size: 35px;
            text-align: center;
        }
        .hero .hero__content .hero__content__text h1 br {
            display: none;
        }
        .hero .hero__content .hero__content__text p {
            font-size: 14px;
            width: 100%;
            text-align: center;
        }
        .hero__content__images {
            margin: auto;
        }
        .hero__content__images img {
            height: 18px;
        }
        .padding-mobile {
            padding: 2rem;
        }
    }