    @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
    }
    
     :root {
        --AlmostWhite: hsl(0, 0%, 98%);
        --MediumGray: hsl(0, 0%, 41%);
        --AlmostBlack: hsl(0, 0%, 8%);
    }
    
    body {
        font-family: 'Epilogue', sans-serif;
        overflow-x: hidden;
        background: var(--AlmostWhite);
    }
    
    p {
        font-size: 18px;
    }
    
    a {
        color: var(--MediumGray);
        font-size: 16px;
    }
    
    main {
        width: 100vw;
        min-height: 900px;
        overflow-x: hidden;
        background-color: var(--AlmostWhite);
    }
    
    .btn {
        padding: 12px 25px;
    }
    
    .btn__register {
        border-radius: 15px;
        border: 2px solid var(--MediumGray);
    }
    
    .btn__register:hover {
        color: var(--AlmostBlack);
        border-color: var(--AlmostBlack);
    }
    
    .btn__login:hover {
        color: var(--AlmostBlack);
    }
    /* ? ==================NAVEGACION=============== */
    
    header {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 10px 30px;
    }
    
    header .navigation {
        width: 100%;
        height: 100vh;
        background: hsl(0, 0%, 8%, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in-out;
    }
    
    .icon__close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 999;
    }
    
    header .navigation .navigation__items {
        width: 60%;
        height: 100vh;
        background: white;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    header .navigation .navigation__items li {
        margin-left: 20px;
    }
    
    header .navigation .navigation__items li:hover .company {
        display: flex;
    }
    
    header .navigation .navigation__items li:hover .feature {
        display: flex;
    }
    
    header .navigation .navigation__items .feature:nth-of-type(1) {
        margin-top: 4rem;
    }
    
    .subItem {
        display: none;
        margin-top: 1rem;
        flex-direction: column;
        gap: 1rem;
    }
    
    .header__buttons {
        display: none;
    }
    
    .bx-color {
        color: var(--MediumGray);
    }
    
    .closeMenu {
        transform: translateX(100%);
    }
    
    .openMenu {
        transform: translateX(0%);
    }